
body {

    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 30px;
    padding: 0;
    text-align: center; 
    background: url(../assets/images/html_table.jpg) center / cover no-repeat;
}


.containerM {
   
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    background-color: #141e30;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.meal-entryM {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.centered {
    text-align: center;
}


.heading {
    font-size: 24px;
    font-weight: 500;
    color: #22BAA0;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.add_meal p {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}


.default_meal_div{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    margin-top: 20px; 

}
.dateInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block; 
}
.date_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="number"],select{
    width: 30%;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}





.add-button,.remove-button,.add-button1,.remove-button1{

    width: 25px;
    margin-left: 5px;
    margin-right: 5px;
   
    
}

@media (max-width: 600px) {
    input[type="number"] {
        width: 90%; 
        margin-bottom: 10px; 
    }
}
@media (max-width: 600px) {
    select {
        width: 50%; 
        margin-bottom: 10px; 
    }
}


input[type="checkbox"] {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 5px;
}

label[for="default_meal"] {
    font-size: 16px;
    color:  white;
}


input[type="submit"],.view_meal {

    width: 150px;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}



input[type="submit"]:hover,.view_meal:hover {
    background-color: #0056b3;
}

