html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
  }
  
  .login-text{
   
    display: flex;
    margin-top: 5%;
    justify-content: center;
    
  }
  .login-text h2 {
    color: #03e9f4;
  }
  .login-text h4 {
    margin-top: 0%;
    color: #a1f7fc;
  }
  #txth4{
    display: flex;
    justify-content: center;
    color: #ffffff;
  }
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input, .login-box .user-box a,.login-box .user-box select {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .login-box .user-box option{
    color:#141e30;
  }

  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label,
  .login-box .user-box select:valid ~ label,
  .login-box .user-box select:focus ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
.submit_mess{
  border: 1px solid;
  position: relative;
  display: inline-block;

  padding: 10px 20px;
  color: #03e9f4;
  background: transparent;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}


  
  .submit_mess:hover {
    background: #46d1d9;
    color: #fff;
    border-radius: 5px;
  
   
  }
  .login-box .user-box p {
    font-size: 13px; 
    color: #03e9f4;
    display: flex;
    justify-content: right;
  
  }
  .login-box .user-box p:hover {
    font-size: 14px; 
    cursor: pointer;
  }
  
  .mess-list {
    list-style-type: none;
    padding: 0;
  }

  .mess-list-item {
    margin: 10px 0;
  }

  .fab {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color:#0056b3;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 16px 16px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for the FAB hover effect */
.fab:hover {
    background-color: #46d1d9;
}